body {
    background-color: #477148;
    padding: 0;
    margin: 0;
    height: 100vh;
}

/*Hexcode von der Farbe eines Pokertisches*/
#Playground {
    margin: 0 auto;
    width: 100%;
    display: absolute;
    height: 100vh;
    text-align: center;


}
#Titel {
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px black;

}

.PlayerSide .Buttons .CroupierSide{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#PlayerSide {

    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    flex: 1;   
}
.CroupierSide {

    flex: 1;
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}



#Playercardsurface {
    margin-top: 50px;
  margin-right: 100px;
  
}

#Playercardsurface img{
padding: 5px;
height: 250px;

}

#Croupiercardsurface{
    margin-top: 50px;
    margin-left: 100px;

}

#Croupiercardsurface img{
    padding: 5px;
    height: 250px;
}


.Buttons {
  /*  flex-direction: column;
    height: 100vh;
    width: 5.5cm;*/
    position: absolute;
    left: calc(50% - 2.75cm);
    margin-top: 60px;
    display: flex;
    padding: 5px;
   /*flex-wrap: wrap;*/
  /* justify-content: space-evenly;*/
    flex-direction: column;


}


.ChooseButtons {
    border: none;
    width: 5.5cm;
    height: 2.3cm;
    background-color: #2D3047;
    border-radius: 5%;
    color: white;
    font-size: 0.7cm;
    margin-top: 0.8cm;
    text-shadow: 2px 2px 1.5px black;
    box-shadow: 1px 1px 2px #000;
    /* display: block;*/
    /* margin-top: 0.5cm;
    margin-left: 0.5cm;*/
    /*  flex-direction: column;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;*/

}

/*.ChooseButtons:hover {
    cursor: pointer;
}*/

/*Spielkartengröße (Rückseite)*/
/*.Card {
    background-color: red;
    border: 6px solid white;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    height: 212px;

    width: 158px;
}*/


#PlayerWertBJ {
    width: 60px;
    height: 60px;
    border-radius: 180%;
    background-color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 1px black;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;    

}

#CroupierWertBJ{
    width: 60px;
    height: 60px;
    border-radius: 180%;
    background-color: white;
    box-shadow: 0 0 1px black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 200px;   
    
}

#PlayerTitel {
    margin-top: 10px;
    color: white;
    font-size:20px;
}

#CroupierTitel{
    margin-top: 10px;
    color: white;
    font-size:20px;
}