

body{
    background-color: #477148;
    padding: 0;
    margin: 0;
    height: 100vh;
}
/*Hexcode von der Farbe eines Pokertisches*/

#Titel{
font-weight: 700;
font-size: 60px;
color: white;
text-align: center;
text-shadow: 2px 2px 3px black;

}


#Playground{
margin: 0 auto;
width: 100%;
display: absolute;
height: 100vh;

}


#PlayerSide{

height: 100vh;
width: 50%;
position: absolute;
top: 0;
}

#CroupierSide{


height: 100vh;
width: 50%;
position: absolute;
right: 0;
top: 0;
}

.Buttons{
flex-direction: column;
height: 100vh;
width: 5.5cm;
position: absolute;
left:calc(50% - 2.75cm);
margin-top: 60px;


}


.cardsurface{
margin-top: 100px;
margin-left: 400px;
margin-right: 400px;

}

.ChooseButtons{
    border: none;
    width: 5.5cm;
    height: 2.3cm;
    background-color: #2D3047;
    border-radius: 5%;
    color: white;
    font-size: 0.7cm; 
    margin-top: 0.8cm;
    text-shadow: 2px 2px 1.5px black;
    box-shadow: 1px 1px 2px #000;
 /* display: block;*/
   /* margin-top: 0.5cm;
    margin-left: 0.5cm;*/
  /*  flex-direction: column;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;*/

}

.ChooseButtons:hover{
    cursor:pointer;
}

/*Spielkartengröße (Rückseite)*/
.Card{
    background-color: red;
    border: 6px solid white;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    height: 212px;
    
    width:158px;
}

/*
.WertBJ{


}*/