

body{
    background-color: #477148;
}
/*Hexcode von der Farbe eines Pokertisches*/

.ChooseButtons{
    border: none;
    width: 5.5cm;
    height: 2.5cm;
    background-color: #2D3047;
    border-radius: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}